<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Data Management</title>
		<link rel="preload" href="/typeface.woff2" as="font" type="font/arial" crossorigin>
		<link rel="stylesheet" href="/main.css">
		<script src="/index.js" defer></script>
	</head>
	<body>
		<nav>
			<div id="navSpace"></div>
			{{#each pages}}
				<a class="page {{#isEqual title ../title}}curr{{/isEqual}}" href="{{url}}">{{title}}</a>
			{{/each}}
		</nav>
		<div id="util">
			<h1>{{title}}</h1>
			<p>Booktique</p>
			{{#isNotEqual title "Home"}}
				<button id="create">Create New {{title}}</button>
				<dialog id="createForm">
					<form method="dialog">
						<legend>Create New {{title}}</legend>
						<fieldset>
							{{#each columns}}
								<label for="{{name}}">{{description}}:</label>
								{{#isEqual type "input"}}
									<input type="text" id="{{name}}" name="{{name}}">
								{{/isEqual}}
								{{#isEqual type "date"}}
									<input type="date" id="{{name}}" name="{{name}}">
								{{/isEqual}}
								{{#isEqual type "select"}}
									<select id="{{name}}" name="{{name}}">
										<option value="1">{{name}} 1</option>
										<option value="2">{{name}} 2</option>
										<option value="3">{{name}} 3</option>
										<option value="4">{{name}} 4</option>
										<option value="5">{{name}} 5</option>
									</select>
								{{/isEqual}}
							{{/each}}
						</fieldset>
						<div class="formButtons">
							<button value="cancel" formmethod="dialog">Cancel</button>
							<button value="default">Submit</button>
						</div>
					</form>
				</dialog>
				<button id="edit">Edit {{title}}</button>
				<dialog id="editForm">
					<form method="dialog">
						<legend>Edit {{title}}</legend>
						<fieldset>
							{{#each columns}}
								<label for="{{name}}">{{description}}:</label>
								{{#isEqual type "input"}}
									<input type="text" id="{{name}}" name="{{name}}">
								{{/isEqual}}
								{{#isEqual type "date"}}
									<input type="date" id="{{name}}" name="{{name}}">
								{{/isEqual}}
								{{#isEqual type "select"}}
									<select id="{{name}}" name="{{name}}">
										<option value="1">{{name}} 1</option>
										<option value="2">{{name}} 2</option>
										<option value="3">{{name}} 3</option>
										<option value="4">{{name}} 4</option>
										<option value="5">{{name}} 5</option>
									</select>
								{{/isEqual}}
							{{/each}}
						</fieldset>
						<div class="formButtons">
							<button value="cancel" formmethod="dialog">Cancel</button>
							<button value="default">Submit</button>
						</div>
					</form>
				</dialog>
				<button id="delete">Delete {{title}}</button>
				<dialog id="deleteForm">
					<form method="dialog">
						<legend>Delete {{title}}</legend>
						<p>Are you sure you want to delete the selected {{title}}?</p>
						<div class="formButtons">
							<button value="cancel" formmethod="dialog">No</button>
							<button value="default">Yes</button>
						</div>
					</form>
				</dialog>
			{{/isNotEqual}}
		</div>
		{{{body}}}
	</body>
</html>
