<script
  src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
></script>

<h1>Author of Books Data</h1>

<form action="/add-authorbook" method="POST">
    <label for="book">Book:</label>
    <input type="text" id="bookTitle" name="bookTitle" required>

    <label for="book">Author:</label>
    <input type="text" id="authorName" name="authorName" required>

    <button type="submit">Assign Author</button>
</form>

<hr />

<h2>Author Books List</h2>
<table id="authors_books_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Book</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each authorbooks}}
      <tr>
        <tr data-value={{this.authorBookID}}></tr>
        <td>{{this.authorBookID}}</td>
        <td>{{this.authorID}}</td>
        <td>{{this.bookID}}</td>
        <td><button
                onclick="deleteUser({{this.authorBookID}})"
                >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
