{{!-- Adapted from CS340 Nodejs Starter code: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Author Data</h1>

<!-- Button to open the modal -->
<section class="author_buttons">
    <button id="createAuthorBtn">Create New Author</button>
</section>

<div class="form-spacing"></div>

<!-- Search Form -->
<form id="search-author" method="GET" action="/search-author">
    <label for="input-authorName">Search by Author</label>
    <input type="text" name="authorName" id="input-authorName-html">

    <input type="submit" value="Search">
    <a href="/"><button>Reset</button></a>
</form>

<div class="form-spacing"></div>

<!-- Table for displaying authors -->
<h2>Authors List</h2>
<table id="author_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
        {{#each data}}
        <tr data-value={{this.authorID}}>
            <td>{{this.authorID}}</td>
            <td>{{this.authorName}}</td>
            <td><button 
                    onclick="editAuthor({{this.authorID}})"
                    >Edit</button>
                <button
                    onclick="deleteAuthor({{this.authorID}})"
                    >Delete</button>
            </td>
        </tr>
        {{/each}}
  </tbody>
</table>

<!-- Modals -->

<!-- Modal for creating a new author -->
<dialog id="createAuthorForm">
    <form id="add-author-form-ajax">
        <legend>Create New Author</legend>
        <fieldset>
            <label for="input-authorName">Author Name:</label>
            <input type="text" id="input-authorName" name="input-authorName" required>
        </fieldset>
        <div class="formButtons">
            <input type="submit">
            <button type="button" id="closeForm">Cancel</button>
        </div>
    </form>
</dialog>

<!-- Edit Author Modal -->
<dialog id="editAuthorForm">
    <form action="/edit-author-ajax" method="POST">
        <legend>Edit Existing Author</legend>
        <fieldset>
            <input type="hidden" id="editAuthorId" name="authorId">
            
            <label for="editAuthorName">Author Name:</label>
            <input type="text" id="editAuthorName" name="authorName">
        </fieldset>
        <div class="formButtons">
            <button type="submit">Update</button>
            <button type="button" id="closeForm">Cancel</button>
        </div>
    </form>
</dialog> 

<script src="./js/authors.js"></script>



