{{!-- Adapted from CS340 Nodejs Starter code: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data --}}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>Book Data</h1>

<!-- Button to open the modal -->
<section>
    <button id="createBooksBtn">Add New Book</button>
</section>


<div class="form-spacing"></div>

<!-- Search Form -->
<form action="/search-book" method="POST">
    <input type="text" id="bookTitle" name="bookTitle" required>
    <button type="submit">Search</button>
</form>

<div class="form-spacing"></div>

<h2>Book List</h2>
<table id="books_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Publish Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
        {{#each data}}
        <tr data-value={{this.bookID}}>
            <td>{{this.bookID}}</td>
            <td>{{this.bookTitle}}</td>
            <td>{{this.bookDescription}}</td>
            <td>{{this.bookPublishDate}}</td>
            <td><button
                    onclick="deleteBook({{this.bookID}})"
                    >Delete</button>
            </td>
        </tr>
        {{/each}}
  </tbody>
</table>

<!-- Modal for creating a new book -->
<dialog id="createBookForm">
    <form action="/add-book" method="POST">
        <legend>Create New Book</legend>
        <fieldset>
            <label for="newBookTitle">Title:</label>
            <input type="text" id="newBookTitle" name="bookTitle" required>

            <label for="newDesc">Description:</label>
            <input type="text" id="bookDescription" name="bookDescription" required>

            <label for="newPublishDate">Publish Date:</label>
            <input type="date" id="bookPublishDate" name="bookPublishDate" required>
        </fieldset>
        <div class="formButtons">
            <button type="button" id="closeForm">Cancel</button>
            <button type="submit">Submit</button>
        </div>
    </form>
</dialog>

<!-- Edit Book Modal -->
<dialog id="editBookForm">
    <form action="/edit-book" method="POST">
        <legend>Edit Existing Book</legend>
        <fieldset>
            <input type="hidden" id="editBookId" name="bookId">
            
            <label for="editBookTitle">New Title:</label>
            <input type="text" id="editTitle" name="bookTitle" readonly>

            <label for="editDesc">New Description:</label>
            <input type="text" id="editDesc" name="bookDescription">

            <label for="editPublishDate">New Publish Date:</label>
            <input type="date" id="editPublishDate" name="bookPublishDate">
        </fieldset>
        <div class="formButtons">
            <button type="button" id="closeForm">Cancel</button>
            <button type="submit">Update</button>
        </div>
    </form>
</dialog>

<script src="./js/books.js"></script>
