<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Book Genre Data</h1>

<form action="/add-genrebook" method="POST">
    <label for="book">Book:</label>
    <input type="text" id="bookTitle" name="bookTitle" required>

    <label for="genre">Genre:</label>
    <select id="genre" name="genreID">
        {{#each genres}}
            <option value="{{genreID}}">{{genreName}}</option>
        {{/each}}
    </select>

    <button type="submit">Assign Genre</button>
</form>

<hr/ >

<h2>Book Genres List</h2>
<table id="book_genres_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Genre</th>
      <th>Book</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each bookgenres}}
      <tr>
        <tr data-value={{this.genreBookID}}></tr>
        <td>{{this.genreBookID}}</td>
        <td>{{this.genreID}}</td>
        <td>{{this.bookID}}</td>
        <td><button
                  onclick="deleteUser({{this.genreBookID}})"
                  >Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
</table>
