{{!-- Citation for authorbooks.hbs with the exception of line 57.
Date: 02/16/25
Adapted from: NodeJS CS340 Starter Code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main 

API/Modals/Dialog
02/10/2025
Based on: Some Hands-On with the HTML Dialog Element
Source URL: https://css-tricks.com/some-hands-on-with-the-html-dialog-element/

Handlebars Frontend integration ({{#each}}
02/10/2025
Based on: OSU CS340 E-Campus starter app code
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%203%20-%20Integrating%20a%20Templating%20Engine%20(Handlebars)

--}}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<h1>Book Genre Data</h1>

<!-- Form to Assign Genre to a Book -->
<form id="add-genrebook-form">
    <label for="book">Book:</label>
    <select id="book" name="bookID" required>
        {{#each books}}
            <option value="{{bookID}}">{{bookTitle}}</option>
        {{/each}}
    </select>

    <label for="genre">Genre:</label>
    <select id="genre" name="genreID" required>
        {{#each genres}}
            <option value="{{genreID}}">{{genreName}}</option>
        {{/each}}
    </select>

    <button type="submit">Assign Genre</button>
</form>

<h2>Book Genres List</h2>
<table id="bookgenres_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Genre</th>
      <th>Book</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
      {{#each bookgenres}}
      <tr data-value="{{this.genreBookID}}">
        <td>{{this.genreBookID}}</td>
        <td>{{this.genreName}}</td>
        <td>{{this.bookTitle}}</td>
        <td>
            <button onclick="editBookGenre({{this.genreBookID}}, '{{this.genreID}}', '{{this.bookID}}')">Edit</button>
            <button onclick="deleteBookGenre({{this.genreBookID}})">Delete</button>
        </td>
      </tr>
      {{/each}}
  </tbody>
</table>

<div class="form-spacing"></div>
<div class="form-spacing"></div>

<!-- Edit Modal -->
<dialog id="editBookGenreForm">
    <form id="edit-genrebook-form">
        <legend>Edit Assigned Genre</legend>
        <fieldset>
            <input type="hidden" id="editGenreBookID" name="genreBookID">
            
            <label for="editBook">Book:</label>
            <select id="editBook" name="bookID">
                {{#each books}}
                    <option value="{{bookID}}">{{bookTitle}}</option>
                {{/each}}
            </select>

            <label for="editGenre">Genre:</label>
            <select id="editGenre" name="genreID">
                {{#each genres}}
                    <option value="{{genreID}}">{{genreName}}</option>
                {{/each}}
            </select>
        </fieldset>
        <div class="formButtons">
            <button type="submit">Update</button>
            <button type="button" id="closeEditForm">Cancel</button>
        </div>
    </form>
</dialog>

<script src="./js/bookgenres.js"></script>