<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>User Data</h1>

<!-- Button to open the modal -->
<section class="user_buttons">
    <button id="createUserBtn">Create New User</button>
    <button id="editUserBtn">Edit Existing User</button>
</section>

<div class="form-spacing"></div>

<!-- Search Form -->
<form action="/search-user" method="POST">
    <input type="text" id="userName" name="userName" required>
    <button type="submit">Search</button>
</form>

<div class="form-spacing"></div>

<!-- Table for displaying users -->
<h2>Users List</h2>
<table id="user_table">
  <thead>
    <tr>
      {{!-- <th><input type="checkbox" id="select-all" /></th> --}}
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
        <tr data-value="{{this.userID}}">
        <td>{{this.userID}}</td>
        <td>{{this.userName}}</td>
        <td>{{this.password}}</td>
        <td>{{this.email}}</td>
        <td><button
                onclick="deleteUser({{this.userID}})"
                >Delete</button></td>
        </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modals -->

<!-- Modal for creating a new user -->
<dialog id="createUserForm">
    <form id="add-user-form-ajax">
        <legend>Create New User</legend>
        <fieldset>
            <label for="input-userName">Username:</label>
            <input type="text" id="input-userName" name="input-userName" required>

            <label for="input-password">Password:</label>
            <input type="password" id="input-password" name="input-password" required>

            <label for="input-email">Email:</label>
            <input type="email" id="input-email" name="input-email" required>
        </fieldset>
        <div class="formButtons">
            <input type="submit">
            <button type="button" id="closeForm">Cancel</button>
        </div>
    </form>
</dialog>

<!-- Edit User Modal -->
<dialog id="editUserForm">
    <form action="/edit-user" method="POST">
        <legend>Edit Existing User</legend>
        <fieldset>
            <input type="hidden" id="editUserId" name="userId">
            
            <label for="editUserName">Username:</label>
            <input type="text" id="editUserName" name="userName" readonly>

            <label for="editPassword">New Password:</label>
            <input type="password" id="editPassword" name="password">

            <label for="editEmail">New Email:</label>
            <input type="email" id="editEmail" name="email">
        </fieldset>
        <div class="formButtons">
            <button type="button" id="closeForm">Cancel</button>
            <button type="submit">Update</button>
        </div>
    </form>
</dialog>

<!-- Delete User Modal -->
{{!-- <dialog id="deleteUserForm">
    <form action="/delete-user" method="POST">
        <legend>Confirm Deletion</legend>
        <p>Are you sure you want to delete user <strong id="deleteUserNameText"></strong>?</p>
        
        <input type="hidden" id="deleteUserId" name="userId">

        <div class="formButtons">
            <button type="button" id="closeForm">Cancel</button>
            <button type="submit">Delete</button>
        </div>
    </form>
</dialog> --}}

<script src="/js/users.js"></script>
