<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>User Data</h1>

<!-- Button to open the modal for creating a new user -->
<section class="user_buttons">
    <button id="createUserBtn">Create New User</button>
</section>

<div class="form-spacing"></div>

<!-- Search Form -->
<form id="search-user" method="GET" action="/search-user">
    <label for="input-userName">Search by Username</label>
    <input type="text" name="userName" id="input-userName-html">

    <input type="submit" value="Search">
    <a href="/"><button>Reset</button></a>
</form>

<div class="form-spacing"></div>

<h2>Users List</h2>
<table id="users_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{{this.userID}}">
        <td>{{this.userID}}</td>
        <td>{{this.userName}}</td>
        <td>{{this.password}}</td>
        <td>{{this.email}}</td>
        <td>
          <button 
            onclick="editUser({{this.userID}}, '{{this.userName}}', '{{this.password}}', '{{this.email}}')">Edit</button>
          <button
            onclick="deleteUser({{this.userID}})">Delete</button>
        </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!-- Modals -->

<!-- Modal for creating a new user -->
<dialog id="createUserForm">
    <form id="add-user-form-ajax">
        <legend>Create New User</legend>
        <fieldset>
            <label for="input-userName">Username:</label>
            <input type="text" id="input-userName" name="input-userName" required>

            <label for="input-password">Password:</label>
            <input type="password" id="input-password" name="input-password" required>

            <label for="input-email">Email:</label>
            <input type="email" id="input-email" name="input-email" required>
        </fieldset>
        <div class="formButtons">
            <input type="submit" value="Create">
            <button type="button" id="closeForm">Cancel</button>
        </div>
    </form>
</dialog>

<!-- Edit User Modal -->
<dialog id="editUserForm">
    <form>
        <legend>Edit Existing User</legend>
        <fieldset>
            <!-- Hidden field for userID -->
            <input type="hidden" id="editUserId" name="userId">
            
            <label for="editUserName">Username:</label>
            <input type="text" id="editUserName" name="userName">

            <label for="editPassword">New Password:</label>
            <input type="password" id="editPassword" name="password">

            <label for="editEmail">New Email:</label>
            <input type="email" id="editEmail" name="email">
        </fieldset>
        <div class="formButtons">
            <button type="submit">Update</button>
            <button type="button" id="closeForm">Cancel</button>
        </div>
    </form>
</dialog>

<script src="/js/users.js"></script>