<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<h1>User Book Data</h1>

<form action="/add-userbook" method="POST">
    <label for="user">User:</label>
    <select id="user" name="userID">
        {{#each users}}
            <option value="{{userID}}">{{userName}}</option>
        {{/each}}
    </select>

    <label for="book">Book:</label>
    <select id="book" name="bookID">
        {{#each books}}
            <option value="{{bookID}}">{{bookTitle}}</option>
        {{/each}}
    </select>

    <label for="status">Status:</label>
    <select id="status" name="userBookStatus">
        <option value="wishlist">Wishlist</option>
        <option value="read">Read</option>
        <option value="dropped">Dropped</option>
    </select>

    <label for="rating">Rating:</label>
    <select id="rating" name="userBookRating">
        <option value="">No Rating</option>
        {{#each [1,2,3,4,5]}}
            <option value="{{this}}">{{this}} Stars</option>
        {{/each}}
    </select>

    <button type="submit">Add User Book</button>
</form>

<div class="form-spacing"></div>

<!-- Search Form -->
<form action="/search-book" method="POST">
    <input type="text" id="bookTitle" name="bookTitle" required>
    <button type="submit">Search</button>
</form>

<h2>User Book List</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Book</th>
      <th>Status</th>
      <th>Rating</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each userbooks}}
    <tr>
      <tr data-value="{{this.userBookID}}"></tr>
      <td>{{this.userBookID}}</td>
      <td>{{this.userID}}</td>
      <td>{{this.bookID}}</td>
      <td>{{this.userBookStatus}}</td>
      <td>{{#if this.userBookRating}}{{this.userBookRating}} Stars{{else}}N/A{{/if}}</td>
      <td><button
                onclick="deleteUser({{this.userBookID}})"
                >Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
